[2020-04-06 09:30] phillipahereza opened #55 "Mattermost Plugin for DigitalOcean"
#### Summary

An interactive agent that makes it easy to provision infrastructure on DigitalOcean (DO) from within Mattermost channels. This bot will enable DevOps teams manage their infrastructure from channels with minimal effort.
An interactive agent that makes it easy to provision infrastructure on DigitalOcean (DO) from within Mattermost channels. This bot will enable DevOps teams manage thei

[2020-04-09 11:39] phillipahereza commented on #55
@hanzei my community account is @ahereza

[2020-04-09 11:51] phillipahereza commented on #55
@hanzei adding `release_notes_url` to `plugin.json` panics with `json: unknown field "release_notes_url"`

[2020-04-22 15:20] hanzei opened #58 "Allow official plugins to have a Beta label"
Needed for the todo plugin https://github.com/mattermost/mattermost-marketplace/pull/57

[2020-04-22 15:36] hanzei commented on #58
This is not even needed as `go run ./cmd/generator/ add` allows adding the Beta label.

[2020-04-22 15:36] #58 closed

[2020-04-23 08:12] hanzei opened #61 "Drop iconPaths workaround"
Hosting the images locally was just meant as a stop-gap until the plugins defined the icons themselves, and posted a release containing same. Could we just wait for that, and slowly reduce this list to zero instead?

_Originally posted by @lieut-data in https://github.com/mattermost/mattermost-marketplace/pull/52_

[2020-04-26 16:19] moussetc opened #64 "Add v1.2.1 of com.github.moussetc.mattermost.plugin.giphy to the Marketplace"
#### Summary
This plugin add /gif et /gifs commands, based on Giphy and Gfycat.

#### Review commit

https://github.com/moussetc/mattermost-plugin-giphy/commit/735325bb17b10988657b8a6c78f210ba4c0af7a3

## Checklist

I'm not sure who's supposed to fill the issue checkboxes (me as plugin maintainer or the Product Manager/developers/Security team/QA tester as mentioned in the doc...). I've confirmed

[2020-04-26 17:38] niklabh opened #65 "Mattermost WebRTC video/audio call plugin"
#### Summary

This plugin add video call and group audio call feature to Mattermost. The plugin uses WebRTC protocol built into the browser to make video/audio calls.

Configure stun/turn and signalhub servers in plugin setting. Public signalhub, turn and stun servers are provided in plugin README. To start video call go to direct message and click on the video call button on channel header button

[2020-04-27 15:20] hanzei commented on #64
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-04-27 15:26] hanzei commented on #64
Awesome @moussetc, thanks for submitting your plugin :tada:

I did check of every item from the checklist that I could confirm. Further review will take place in the private fork.

[2020-04-28 10:39] hanzei commented on #65
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [x] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [x] Give submitter read access to the fork.
- [x] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-04-28 11:09] hanzei commented on #65
@niklabh is working on some bug fixes before this can be reviewed.

[2020-05-08 06:20] #61 closed

[2020-05-18 21:51] hanzei opened #67 "make plugins.json remove manually added plugins"

[2020-06-01 21:36] aaronrothschild opened #72 "Notify in MM: Send an Announcement when a plugin has been posted to Marketplace"
Send an Announcement when a `Plugin/New` PR is merged and send to:
-  MM staff channel: Announcements
- MM Community channel: Marketplace (?)

This is to notify Mattermost staff of newly available plugins on the marketplace.

[2020-06-02 01:39] levb commented on #72
0/5 A more general webhook, perhaps?

[2020-06-03 18:20] hanzei commented on #72
@aaronrothschild @levb :point_up:

[2020-06-03 19:00] levb commented on #72
1. My list: Integrations Meeting, Community Configuration
2. Done
3-4: Not sure.

[2020-06-04 14:59] hanzei opened #74 "Document `generator add`"
https://github.com/mattermost/mattermost-marketplace/blob/master/cmd/generator/add.go is not documented. Add documentation.

[2020-06-09 20:25] aaronrothschild opened #75 "Marketplace: Link to Gitbook documentation links directly via a "docs" link"
Perhaps add a new config value to Plugin Manifest of "Documentation_URL"? If it exists, then show a link on the UI.

[2020-06-10 04:14] hanzei commented on #75
Where would this link be shown in the product? Right now, there isn't a way for users to discover a plugin besides via it's direct interactions like slash commands.

[2020-06-10 10:39] hanzei commented on #72
@aaronrothschild Do you agree with the list from Lev? what do you think about 3. and 4.?

[2020-06-10 11:15] aaronrothschild commented on #72
Agreed.
For 3 - I think we could do a better job with the description text for the plugins after reading a few of them.  Some basically just have the plugin name, some have a decent description.

Key Info:
- Icon?
- Name
- Description
- Version Number and Min Server
- Release Notes text or link to it (This could optionally be included in a "Props:card" to show up in the RHS perhaps? Not sure if po

[2020-06-11 10:11] hanzei commented on #72
What is the value of posting the description here? Shouldn't the plugin name make clear what the plugin does.

I haven't thought about the icon. Great idea, but unfortunately it's not feasible.

Post cards still don't work on mobile. Let's use something that is supported on both clients.

I did submit PR to change that.

[2020-06-11 14:27] #67 closed

[2020-06-16 14:42] #72 closed

[2020-06-16 15:08] hanzei opened #77 "Only show EE-only plugins if enterprise_plugins is set"
Follow up from https://github.com/mattermost/mattermost-server/pull/14586

#### QA Test steps
**Setup**
1. Set Marketplace URL to `http://localhost:8085`
2. Enable Remote Marketplace
3. Add an EE-only plugin by running `go run ./cmd/generator/ add mattermost-plugin-mscalendar v1.0.0 --official --enterprise` in Marketplace repo
4. Start local Marketplace using `make run`

**1. Test**
1. Run Matterm

[2020-06-20 05:25] levb opened #81 "A separate tab for "Updates Available""
It would be nice to have here a tab "Update available" or something similar

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/9aope4do1igafr4i5oc7b4nwme) *by @JtheBAB*._

[2020-06-23 14:07] hanzei commented on #75
Short term: Use docs url as homepage URL

[2020-06-30 16:25] #77 closed

[2020-07-11 17:44] hanzei commented on #64
The release is cut and available via the Marketplace. @jasonblais will tweet about it next week.

Thanks you very much for submitting your Plugin! It's an awesome plugin go get into the Marketplace. :rocket:

[2020-07-11 17:44] #64 closed

[2020-07-20 19:39] aaronrothschild opened #91 "Telemetry: Send the Marketplace search terms to telemetry server (non-custom marketplaces)"
We would like to get better insight on which integrations to work on next.  Understanding what users are searching for would help direct us to discover new integrations and apps to work on in the future.

[2020-07-30 12:49] hanzei commented on #91
Given this requires changes in the core product, I've filled a JIRA https://mattermost.atlassian.net/browse/MM-27397

[2020-07-30 12:49] #91 closed

[2020-07-30 12:50] #75 closed

[2020-08-04 15:00] levb opened #96 "/pl/default-community-plugins, which gives a 404"
@aaron.rothschild @hanzei heads up that clicking the "Community" label takes you to https://mattermost.com/pl/default-community-plugins, which gives a 404 (page doesn't exist)

_Issue created from a [Mattermost message](https://community-release.mattermost.com/_redirect/pl/csia8dsd9t8o8g1mpgntpjjqgo) *by @jasonblais*._

[2020-08-05 07:21] hanzei commented on #55
The plugin is now shipped via the Marketplace :rocket:

Thanks the submission @phillipahereza :+1: Glad to see it's finally available.

[2020-08-05 07:22] #55 closed

[2020-08-13 17:42] abdulsmapara opened #101 "Add mattermost-plugin-gmail to Marketplace"
#### Summary

A plugin that brings gmail conversations within Mattermost channels, and enables users to get notified on new mails in Mattermost.

#### Review commit

Repository: https://github.com/abdulsmapara/mattermost-plugin-gmail/
Release (to be updated according to feedbacks): https://github.com/abdulsmapara/mattermost-plugin-gmail/releases/tag/v0.1.0-test

## Checklist

_To be updated furthe

[2020-08-14 12:07] #96 closed

[2020-08-17 18:06] jespino opened #103 "Recommend plugin"
#### Summary
The recommend plugin add channel recommendations when you run the `/recommend` slash command, or when you join to a channel or a team (if you have it configured)
#### Review commit
https://github.com/jespino/mattermost-plugin-recommend (the current version is 0.0.3)

## Checklist
**Product requirements**

- [x] The plugin is published under an Apache v2 compatible license (e.g. no GPL

[2020-08-17 18:42] monsdar opened #104 "Add Icebreaker Plugin"
#### Summary
As in the [original Readme](https://github.com/monsdar/mattermost-icebreaker-plugin/blob/master/README.md): `This plugin adds the ability to ask random users Icebreaker questions in a channel.`

#### Review commit
* [Repo](https://github.com/monsdar/mattermost-icebreaker-plugin)
* Use [latest release](https://github.com/monsdar/mattermost-icebreaker-plugin/releases/tag/v2.1.3) as cand

[2020-08-19 10:28] hanzei commented on #101
Hey @abdulsmapara,

Thanks for submitting your plugin! The documentation looks really good and the subscribe to a inbox feature is great.

A few comment and questions:
1. The `plugin.json` does not specify a `release_notes_url`. Where will you be posting changelogs in the future?
2. As far as I understand the code, subscriptions are only stored in-memory and will be lost on restarting the plugin.

[2020-08-19 10:28] hanzei commented on #101
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-08-19 10:44] hanzei commented on #104
Hey @monsdar,

Thanks for submitting your plugin!  I'm going to create a private fork under the Mattermost org and open a PR to review the full code.

Not blocking to get the plugin into the Marketplace, but your plugin would greatly benefit from using Slash Command Autocomplete. See https://github.com/mattermost/mattermost-plugin-gitlab/pull/182 for an example on how to use it.

[2020-08-19 10:44] hanzei commented on #104
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-08-19 10:57] hanzei commented on #103
That for the submission @jespino :+1:

I glanced over the code and didn't spot any issues right away. A more in dept code review will happen later.

Are you planing to bump the version to `v1.0.0` or do you prefer to keep at as 0.0.3 and release the plugin as `Beta`?

[2020-08-19 10:58] hanzei commented on #103
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-08-19 13:46] jespino commented on #103
My plan is to keep it as `Beta` for now, I don't see any problem with the plugin, but I think we have to polish it a bit before we get into 1.0.0 (Multilingual support for example, would be a great addition).

[2020-08-19 18:11] abdulsmapara commented on #101
Hi @hanzei,
Thank You for reviewing the plugin and noticing some crucial points.
1. I have added the `release_notes_url` in plugin.json that points to [CHANGELOG.md](https://github.com/abdulsmapara/mattermost-plugin-gmail/blob/master/CHANGELOG.md). Is it fine if all change logs are recorded in that file ?
2. You are right, the subscription information is currently stored only in-memory and will no

[2020-08-25 12:03] hanzei commented on #101
@abdulsmapara Are you planing to bump the version to `v1.0.0` or do you prefer to keep at as `v0.1.0` and release the plugin as `Beta`?

[2020-09-02 15:07] harshilsharma2 opened #114 "Add Standup Raven to Marketplace"
#### Summary
It's a team standup plugin. Can be used for daily standup, weekly standup or for any frequency.

Quick demo-
![](https://raw.githubusercontent.com/standup-raven/standup-raven/master/docs/assets/images/standup.gif)

#### Review commit
https://github.com/standup-raven/standup-raven

## Checklist

**Product requirements**

- [x] The plugin is published under an Apache v2 compatible licen

[2020-09-02 15:07] harshilsharma63 commented on #114
I'm actively working on fulfiling the remaining requirements.

[2020-09-03 23:05] hanzei commented on #114
Awesome, thanks for submitting Standup Raven :+1:

It seems like a `release_notes_url` is missing , but that can be easily added in the review process.

I'm yet to confirm that the plugin doesn't cause issues in an HA environment. I will check that while doing a full code review.

The plugin uses a custom `Makefile` and not the default one from the [Starter Template](https://github.com/mattermost/

[2020-09-03 23:05] hanzei commented on #114
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [x] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [x] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-09-04 13:24] harshilsharma63 commented on #114
@hanzei I have to add HA compatibility by using [this](https://github.com/mattermost/mattermost-plugin-demo/blob/d647f1ed7fdc384f5bc163a6bba689ab4293704e/server/activate_hooks.go#L72) where I run the standup loop.

[2020-09-04 18:18] hanzei commented on #114
Using the `cluster` package is definitely a good idea :+1:

Are there any potential issue with running the migrations process on multiple plugin instances?

[2020-09-04 23:23] harshilsharma63 commented on #114
@hanzei ah! That's a good point. It can cause issue if multiple nodes in the cluster start applying the same migration. What do other plugins in such case?

[2020-09-06 20:50] moussetc opened #115 "Update mattermost-plugin-giphy to v2.0.0"
#### Summary

- Feature: use custom message content with `/gif mysearch "Here is a custom message to display"`
- Feature: by default, `/gif` forces preview before posting (#30). **This change will impact existing plugin installs**, but you can revert to the old `/gif`&`/gifs` behaviour via the plugin configuration, as per your users' preferences.
- Feature: add a "collapsable GIF" option that disp

[2020-09-07 18:21] hanzei commented on #115
Nice, thanks for updating the plugin and publishing a new release. :tada:

I'm wondering it it's worth bumping the major version for this release as it will contain a behaviour change. What do you think?

[2020-09-07 18:21] hanzei commented on #115
## Process checklist
- [ ] Create PR to merge changes from upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin release](https://developers.mattermost.com/internal/plugin-release-process).
- [ ] Add release to Marketplace.

[2020-09-07 19:03] hanzei commented on #114
The `cluster` package exposes a `Mutex`, which can guard against concurrent executions. Beside that tool you also either ensure the migration is idempotent or store in the db that the migration as already happened.

[2020-09-07 19:14] #74 closed

[2020-09-08 03:33] harshilsharma63 commented on #114
@hanzei Thanks! WIll try that out.

[2020-09-09 01:38] harshilsharma63 commented on #114
@hanzei I'm added to the private fork now. What's the next step for me on that fork?

[2020-09-15 09:05] hanzei commented on #114
@harshilsharma63 I'm requested a review from @larkox on the code base. He will provide some early feedback. The next step for you is to implement the changes required for HA and respond to the upcoming feedback.

[2020-09-16 03:36] harshilsharma63 commented on #114
@hanzei thanks a ton! @larkox let me know if you have any questions on any part of the code. Also please feel free to add any scope of improvement or issue you see in the code as you traverse it.

@hanzei yes, I need to use the cluster job package and mutex package for migrations.

[2020-09-17 08:50] hanzei opened #118 "Serverless version for pipelines doesn't fulfill serverless config"
Serverless v2.0.0 was released 2 days ago. Because the circleci pipeline does install the latest version it installs `>= v2.0.0` which is incompatible with `serverless.yml`.

This causes all deployments to fail: https://app.circleci.com/pipelines/github/mattermost/mattermost-marketplace/425/workflows/80fb9c71-3b6c-4af7-b0e5-87fa7503a7ff/jobs/536

[2020-09-17 17:27] #118 closed

[2020-09-17 17:41] hanzei commented on #103
Channel Recommender is now available in the Marketplace :rocket: Thank you very much @jespino :+1:

[2020-09-17 17:41] #103 closed

[2020-09-26 08:34] moussetc commented on #115
Is the behavioural change about the /gifs&/gif -> /gif change? Because I've thought more about it and if I could detect the plugin begin upgraded, I could keep the old behaviour for the previous installs (it would reduce change for existing users). Not sure how to do that, though :thinking:

Nonetheless, even if I were to do that, the default behaviour of /gif would still change so maybe a major v

[2020-09-26 16:58] moussetc opened #122 "Add moussetc/mattermost-plugin-dice-roller to Marketplace"
#### Summary

#### Review commit
https://github.com/moussetc/mattermost-plugin-dice-roller/commit/fa92644a46a9ba62bd60f6d0f5a435d940931334

## Checklist

**Product requirements**

- [x] The plugin is published under an Apache v2 compatible license (e.g. no GPL, APGL). A list of compatible licenses can be found [here](https://apache.org/legal/resolved.html#category-a).
- [x] The source code is avai

[2020-09-26 17:54] hanzei commented on #122
Awesome, thanks for submitting yet another plugin to the Marketplace @moussetc :tada:

I did a brief review of the code and it looks good :+1:

This would be a great plugin to have Slash Command Autocomplete. You can find an example on how to implement this https://github.com/mattermost/mattermost-plugin-gitlab/pull/182. Of cause, that is not blocking for the Marketplace.

[2020-09-26 17:54] hanzei commented on #122
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [x] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [x] Give submitter read access to the fork.
- [x] Create PR to merge upstream into `master`.
- [x] Request reviews.
- [ ] [Cut plugin relea

[2020-09-26 18:01] hanzei commented on #115
Yes, I'm talking about the ` /gifs&/gif -> /gif ` change. I'm not sure if it's worth doing a migration here. You did the change with a reason and that also applies to existing installations.

[2020-09-30 11:06] abdulsmapara commented on #101
@hanzei, I am okay with anything but would prefer releasing in beta.

[2020-09-30 11:16] abdulsmapara commented on #101
@hanzei, can you resend the invitation to access this plugin under Mattermost account. I am sorry, the previous invitation expired.

[2020-09-30 14:07] hanzei commented on #101
Sure, invite send

[2020-09-30 14:07] hanzei commented on #101
Great, then release this as  `Beta`.

[2020-10-01 13:53] abdulsmapara commented on #101
Thanks a lot @hanzei !

[2020-10-01 17:33] moussetc commented on #115
Here is th new commit with the version change: https://github.com/moussetc/mattermost-plugin-giphy/commit/9c1f892f3bebea1114c8879ed00d9e5a8a5aa6cd

[2020-10-01 22:16] hanzei commented on #101
Your welcome :+1: Let me know if you have any question or need early feedback on your changes.

[2020-10-02 09:21] hanzei commented on #115
Awesome, updated the PR and title :+1:

[2020-10-03 14:40] abdulsmapara commented on #101
Sure !

[2020-10-09 08:07] mickmister opened #127 "Write unit tests for `generate` and `add` commands"
#### Summary

The CLI commands `generate` and `add` are currently not covered by unit tests.

In order to test the code, the GitHub client must be mocked in the test. You can use `gomock` as the mocking framework. If you have any questions, join the [Integrations channel](https://community.mattermost.com/core/channels/integrations) on our community server.

#### Ticket Link

https://mattermost.atl

[2020-10-09 08:08] mickmister commented on #127
@hanzei Do you know how I can use the `Hacktoberfest` and `Up For Grabs` labels in this repo?

[2020-10-09 08:10] hanzei commented on #127
@mickmister Just added them

[2020-10-10 13:27] kaakaa opened #129 "Add Matterpoll plugin to Marketplace"
#### Summary
Matterpoll allows users to create poll by using a slash command.

#### Review commit
https://github.com/matterpoll/matterpoll/commit/45f095875a98fb1d4f3f166851c86f41b987493e

We're ready to release new version `v1.4.0`. After adding Matterpoll to Marketplace, we'll update documentation as https://github.com/matterpoll/matterpoll/pull/346.

## Checklist

**Product requirements**

- [x]

[2020-10-10 13:33] hanzei commented on #129
Awesome, thanks for submitting Matterpoll to the Marketplace. :tada:

I've created a private fork under the Mattermost organisation and will request reviews for the plugin soon.

[2020-10-10 13:33] hanzei commented on #129
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [x] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [x] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-11-12 12:21] #129 closed

[2020-11-20 12:46] jwillmer opened #146 "Plugin: Link List"
#### Summary
This plugin will display up to 5 links in the main menu of Mattermost.

![image](https://user-images.githubusercontent.com/1503577/99801517-753b9700-2b36-11eb-8a1b-c6c2dc36caf5.png)

#### Review commit
https://github.com/jwillmer/mattermost-plugin-link-list/releases/tag/0.1.0

## Checklist

**Product requirements**

- [x] The plugin is published under an [Open Source license](https://

[2020-12-01 14:37] aaronrothschild opened #150 "MS Calendar on Cloud Marketplace: remove E20 label"
Heads up that MS Calendar is highlighted as an E20-only plugin in Mattermost Cloud -- we should remove that label from the Cloud offering, and keep it for self-managed versions only. (given all MM Cloud workspaces have E20-equivalent functionality)

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/9wpe4ihgu7noper8k4hn3nom4c) *by @jasonblais*._

[2020-12-01 17:08] hanzei commented on #150
Moving to JIRA: https://mattermost.atlassian.net/browse/MM-31005

[2020-12-01 17:08] #150 closed

[2020-12-02 07:48] asaadmahmood commented on #81
@levb This ticket should not be assigned to whoever is handling design in Integrations/Plugins.

[2020-12-03 10:34] hanzei commented on #146
Hey @jwillmer,

Thanks for submitting this handy plugin! I did a brief code review and didn't find any notable flaws. I'm going to create a private fork under the Mattermost org and queue your plugin for a full code review.

[2020-12-03 10:34] hanzei commented on #146
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2020-12-05 06:57] hanzei commented on #104
Icebreaker is now available in the Marketplace! :tada: Thank you very much @monsdar.

[2020-12-05 06:57] #104 closed

[2020-12-05 09:14] monsdar commented on #104
Awesome 😎

[2020-12-19 06:39] #115 closed

[2020-12-19 06:40] hanzei commented on #115
Thanks again for updating your plugin @moussetc :tada:

[2021-01-18 22:16] moussetc opened #159 "Update mattermost-plugin-giphy to 2.1.0"
#### Summary
- Feature: Giphy attribution marks are now sufficient to obtain a GIPHY API production Key
- Fix: Avoid URL duplicate in markdown to avoid duplicate preview in future releases of Mattermost
- Fix: center the plugin icon used for the marketplace
- Fix: Update punctuation for consistency with UI formatting in the plugin settings screen

#### Review reference
https://github.com/moussetc/

[2021-01-19 16:06] aaronrothschild opened #160 "Change "E20 Only" tag on listings to "E20 and Cloud""
Currently, a cloud instance should also have access to the E20 Only plugins, but the label doesn't reflect that.

[2021-01-25 16:39] hanzei commented on #160
Thanks for the report. Opened a JIRA: https://mattermost.atlassian.net/browse/MM-32278

[2021-01-25 16:46] hanzei commented on #159
## Process checklist
- [ ] Create PR to merge changes from upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin release](https://developers.mattermost.com/internal/plugin-release-process).
- [ ] Add release to Marketplace.

[2021-01-25 16:48] hanzei commented on #159
Thanks for yet another update of the plugin :tada: I'm going to queue the release for review.

Glad you fixed the duplicate preview issues. Sorry for the disturbance the change on our side added. Does it make sense to bump `min_server_version` to the first MM version that included the behaviour change?

[2021-01-26 03:13] sapkra opened #162 "Lyno - Voice Rooms/Channels"
#### Summary
This plugin provides a direct integration of voice channels into Mattermost. I developed this plugin within the Jitsi+Mattermost hackathon and found some time now to submit it for the marketplace.

![image](https://user-images.githubusercontent.com/8087568/105793595-b1053980-5f89-11eb-8ff2-baf542182d60.png)

#### Review commit
It's not possible to build it right now but we will publis

[2021-01-26 13:57] aaronrothschild commented on #162
@sapkra Thanks for submitting to the marketplace.  I was just telling @adamjclarkson about your solution yesterday in fact.

Our security team will perform a review, we've got a few submissions in the hopper so that team is a bit backed up but they'll add comments to your repo.

I had an issue the other day with the Lyno plugin I believe - it was causing the whole UI to disappear - here's the cons

[2021-01-26 14:31] sapkra commented on #162
Thank you for your report. I will look into it. And will try to avoid them completely.

The best way for a plugin system is to force them to be in an iframe and add an permission system for the data similar to oauth scopes. It would be definitely more stable and secure but has of course other disadvantages. The plugin system of monday.com is a good example how to can look like.

[2021-02-02 22:14] moussetc commented on #159
Thank you :)

While this behaviour change removes a small feature that may or may not have been actually used by the users (access to the original GIF URL for sharing outside MM when using the image proxy), I'd rather keep the plugin compatible with older MM server versions so that users that are not in a position to upgrade their MM server can still answer the new, stricter requirements for getti

[2021-02-08 11:59] hanzei commented on #160
Fixed with https://github.com/mattermost/mattermost-marketplace/pull/161

[2021-02-08 11:59] #160 closed

[2021-02-08 12:46] hanzei commented on #159
I see, good point on the stricter requirements.. :+1:

[2021-02-10 11:21] hanzei commented on #146
@jwillmer Sorry for the long delay. We are doing some changes on how GitHub repositories are managed and hence I wasn't able to fork your repo yet. Will keep you updated!

[2021-02-10 11:23] hanzei commented on #162
Hey @sapkra,

Thanks for submitting your plugin :tada: I will queue it for code review.

[2021-02-10 11:23] hanzei commented on #162
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-02-10 12:41] jwillmer commented on #146
@hanzei No problem. The solution solves my pain already. It just delays the option for others 😉

[2021-03-24 16:34] mickmister opened #177 "Add mattermost-plugin-default-theme to Marketplace"
#### Summary

This plugin allows the sysadmin to define a set theme for all new users to have when they create their account. Users can still change their theme to want they want as usual.

#### Review commit

https://github.com/mickmister/mattermost-plugin-default-theme/commit/1ab4ed84991def027ef15833127126cedb4c6bb9

## Checklist

**Product requirements**

- [x] The plugin is published under an

[2021-03-24 16:36] mickmister commented on #177
cc @aaronrothschild

[2021-03-29 11:37] hanzei commented on #177
Hi @mickmister,

That for submitting this plugin :+1: Could you please add a `support_url` and `release_notes_url` to the manifest?

I will queue the plugin for review in the meantime.

[2021-03-29 11:38] hanzei commented on #177
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-03-29 16:01] mickmister commented on #177
@hanzei Should I set this to my personal repo, or the mattermost copy's issue page? I'm 1/5 on having the plugin in the mattermost org for simplicity. I'm fine either way though.

[2021-03-29 17:04] hanzei commented on #177
@mickmister They should go to your personal repo. The mattermost fork is just a fork. No code changes should go in there.

[2021-03-30 02:03] mickmister commented on #177
@hanzei I've updated the manifest on master to include `support_url` and `release_notes_url`. Should I change the commit in the description?

[2021-03-30 06:42] hanzei commented on #177
Thanks for updating the manifest @mickmister. Sorry, which commit are you talking about?

[2021-03-30 07:49] #122 closed

[2021-03-30 07:52] hanzei commented on #122
It's out! Thanks again @moussetc :rocket:

[2021-03-30 17:08] mickmister commented on #177
@hanzei The review commit https://github.com/mickmister/mattermost-plugin-default-theme/commit/1ab4ed84991def027ef15833127126cedb4c6bb9. Since I've changed code in the repo (though just the `plugin.json` and `manifest.go`), should the review commit also be updated?

[2021-03-31 07:59] hanzei commented on #177
Got it. No, that commit was only needed as a starting point. From now on https://github.com/mattermost/mattermost-plugin-default-theme/pull/1 is the source of truth.

[2021-04-29 23:20] daydr3am3r commented on #159
Hello,

This has been in review for a while now. I would be a happy clam if pending steps were completed so users such as myself could enjoy the new version :)

[2021-06-22 07:12] chetanyakan opened #194 "Add collabora-mattermost to Marketplace"
#### Summary

- Mattermost plugin to integrate Collabora Online so that users can view or edit files directly in the chat.
- Can edit existing files and allow creating new files from existing templates.
- Needs external service for document preview to be configured.

![Peek 2021-06-22 12-09](https://user-images.githubusercontent.com/35728906/122876168-cd4bad80-d352-11eb-83d0-0f0ee35120b9.gif)

![P

[2021-07-16 20:53] hanzei commented on #194
Hi @chetanyakan,

Thanks you very much for submitting this very helpful plugin. The documentation is remarkable good! Looking forward to seeing this plugin in the Marketplace.

I will queue the plugin for review.

[2021-07-16 20:53] hanzei commented on #194
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose it visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-08-05 21:57] #159 closed

[2021-08-11 18:04] lapaz17 opened #214 "Add Image Cropper Plugin to Marketplace"
#### Summary
This plugin enables users to crop images/screenshots while uploading them to a chat.
#### Review commit
[image-cropper-plugin](https://github.com/lapaz17/mattermost-image-cropper-plugin/commit/319d49e4291ea266b85c493d413d352a0bb36b78)

It should be published as Beta.
## Checklist

**Product requirements**

- [x] The plugin is published under an [Open Source license](https://opensource

[2021-08-13 19:16] benarent opened #215 "Add Teleport to Marketplace"
#### Summary
We've a bot that'll post access requests https://goteleport.com/features/access-requests/  from Teleport  to Mattermost.

https://goteleport.com/docs/enterprise/workflow/ssh-approval-mattermost/

Below is V1 of the bot, this bot will let you approve in mattermost, v2 requires all users to go back to Teleport for improved security.

https://user-images.githubusercontent.com/559288/1294

[2021-08-13 19:20] benarent commented on #215
Note: I don't have some of the requirements as this Plugin runs a separate service and posts using Mattermost OAuth Tokens.

[2021-08-18 10:23] hanzei opened #216 "For the current release and upcoming ones a changelog has to be published, with a link recorded in the `release_notes_url` property of the `plugin.json` manifest."

[2021-08-19 09:23] hanzei commented on #214
Hi @lapaz17,

Awesome, looking forward to using your plugin on the Community server. So helpfull!

I will queue the plugin for review.

[2021-08-19 09:23] hanzei commented on #214
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-09-17 20:12] mickmister commented on #101
@hanzei Should we start review of this plugin?

[2021-09-19 18:35] abdulsmapara commented on #101
Hello,
I could not touch this since long but now I am working on adding some fixes/features.
I am currently testing my patch, which might take a week or two.
Can you please consider reviewing this once I update it with my patch ?

Thank you

[2021-09-22 15:58] mickmister commented on #101
I would say that if the incoming changes aren't large we can start reviewing sooner.

Thanks for the follow up @abdulsmapara! Looking forward to this plugin! 🚀 🎉

[2021-09-27 08:12] hanzei commented on #215
Assigning to @aaronrothschild per https://community-daily.mattermost.com/core/pl/kest8r6h4fd7in6m185jc9k5xc

[2021-09-27 13:14] aaronrothschild commented on #215
Thanks Ben, @benarent - I will contact marketing about adding a page to the Marketplace (they've changed some processes).  I hope to have the listing published this week.

[2021-09-27 20:57] Lujeni opened #219 "Add plugin outline"
#### Summary
Mattermost Outline plugin allows you to search your teams documents. (https://www.getoutline.com/)

#### Review commit
- https://github.com/Lujeni/mattermost-plugin-outline
- https://github.com/Lujeni/mattermost-plugin-outline/commit/4acc6a2c040e6ddab0acf5ac00d36593fc276d8c

## Checklist

**Product requirements**

- [x] The plugin is published under an [Open Source license](https://op

[2021-09-30 18:11] hanzei commented on #219
Hi @Lujeni,

Thank you very much for submitting your plugin! Just to double check: Should the plugin be marked as `Beta`?

[2021-09-30 18:11] hanzei commented on #219
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-10-01 08:15] hanzei commented on #219
@Lujeni It seems like some files are missing in the repo. Running `make` after cloning it fails with:

[code]

Do you need to include the `build` directory?

[2021-10-11 14:05] LinneyS opened #230 "Add onlyoffice-mattermost to Marketplace"
#### Summary
This plugin allows connecting Mattermost and [ONLYOFFICE Docs](https://github.com/ONLYOFFICE/DocumentServer) (web-based office suite) so that users are able to open files sent in personal and group Mattermost chats for viewing, editing and co-authoring.

![actions](https://user-images.githubusercontent.com/8580527/136801057-bd822083-5d16-4697-a8da-0b40d2293291.png)

Users are also abl

[2021-11-13 22:45] moussetc opened #236 "Update mattermost-plugin-giphy to 2.1.1"
#### Summary

- Fix: make Gfycat results much more pertinent (previously, a lot of Gfycat results were mistakenly ignored)
- Notify user with ephemeral message send by plugin bot when no (more) GIF was found
- Fix error when reaching the end of Gfycat search results (https://github.com/moussetc/mattermost-plugin-giphy/issues/47)
- When "Full URL display", display attribution mark on new line (http

[2021-11-15 12:13] hanzei commented on #236
## Process checklist
- [x] Create PR to merge changes from upstream into `master`.
- [x] Request reviews.
- [ ] [Cut plugin release](https://developers.mattermost.com/internal/plugin-release-process).
- [ ] Add release to Marketplace.

[2021-11-15 12:14] hanzei commented on #236
Thanks @moussetc for the plugin update :+1:

[2021-11-29 13:42] srkgupta opened #239 "Hackerone Plugin"
#### Summary
The Hackerone plugin for Mattermost allows users to subscribe to Hackerone notifications, stay up-to-date with all the reports submitted on the Hackerone platform, and other common Hackerone actions - directly from Mattermost.

![Fetch certain reports from Hackerone as per filter criteria](https://github.com/srkgupta/mattermost-plugin-hackerone/raw/main/assets/screenshots/reports.png)

[2021-11-29 20:08] hanzei commented on #239
Awesome, thanks @srkgupta for submitting the plugin :+1: I will put it in the review queue.

[2021-11-29 20:08] hanzei commented on #239
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2021-11-30 14:15] abdulsmapara commented on #101
I have updated the plugin with the following changes:

- Plugin persists state and user information (including user subscriptions info) on plugin restarts
- A gmail ID can now be connected to by multiple Mattermost users. However, one Mattermost user can be connected to only one gmail ID at a time.
- New sub-command: `subscriptions` to display labels currently subscribed by the user
- Minor change

[2021-12-01 08:27] hanzei commented on #101
Awesome, thank you very much for updating the plugin @abdulsmapara :+1: I will queue it for review.

All plugin complied against v5 should also work against v6 servers. Did you run into any issues?

[2021-12-07 19:37] abdulsmapara commented on #101
@hanzei I haven't yet tried to compile with v6, will try it out.

[2021-12-12 14:11] lapaz17 commented on #214
@hanzei Any progress?

[2021-12-13 07:06] hanzei commented on #214
@lapaz17 Sorry for the delay. I've just reminded the reviewers about the plugin release.

[2022-01-24 06:46] srkgupta opened #247 "DependencyTrack Plugin"
#### Summary
The DependencyTrack plugin for Mattermost allows users to subscribe to various alerts from the [DependencyTrack](https://dependencytrack.org/) tool, and perform various actions on the alerts - directly from Mattermost.

![Notification about a New Vulnerability from the DependencyTrack tool](https://github.com/srkgupta/mattermost-plugin-dependency-track/raw/master/assets/screenshots/ne

[2022-01-25 08:34] hanzei commented on #247
Another one! Thanks @srkgupta for submitting yet another plugin :tada:

[2022-01-25 08:35] hanzei commented on #247
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [x] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [x] Give submitter read access to the fork.
- [x] Create PR to merge upstream into `master`.
- [x] Request reviews.
- [ ] [Cut plugin relea

[2022-03-05 08:59] nathanaelhoun opened #253 "Add mattermost-plugin-broomer to the Marketplace"
#### Summary

Broomer plugin allows to quickly delete posts from a Mattermost channel, with a simple `/broom` command.

![Gif of plugin in action](https://raw.githubusercontent.com/nathanaelhoun/mattermost-plugin-broomer/35a09ffcb034a45fa17ba573f1b14d3080100e8b/.github/screenshot.gif)

#### Review commit

https://github.com/nathanaelhoun/mattermost-plugin-broomer/commit/35a09ffcb034a45fa17ba573f1b

[2022-03-07 06:29] hanzei commented on #253
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2022-03-18 11:17] larkox opened #260 "Add mattermost-plugin-badges to Marketplace"
#### Summary
Adds the possibility to create and grant badges to show appreciation to the users.

#### Review commit
https://github.com/larkox/mattermost-plugin-badges/pull/8

## Checklist
**Product requirements**

- [x] The plugin is published under an [Open Source license](https://opensource.org/licenses/alphabetical).
- [x] The source code is available in a public Git repository.
- [x] There is

[2022-03-28 14:23] hanzei commented on #260
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2022-04-13 13:12] mkdbns opened #271 "Add Mattermost Plugin (on-prem) Exchange Calendar to the Marketplace"
#### Summary
This plugin supports a two-way integration between Mattermost and a Microsoft Exchange Calendar. For a stable production release, please download the latest version from the Plugin Marketplace and follow the instructions to [install](https://github.com/Brightscout/mattermost-plugin-exchange-calendar#installation) and [configure](https://github.com/Brightscout/mattermost-plugin-exchang

[2022-04-24 20:27] mickmister opened #274 ""Enterprise and Cloud" label should instead reference Professional and Enterprise licenses"

[2022-04-26 22:59] svelle opened #275 "Add spoiler plugin to the marketplace"
#### Summary
This plugin hides a specified message by blurring it (on desktop) or replacing it with a generic message (on mobile).
You can then reveal it by hovering over it with your mouse cursor or pressing a button to reveal the content in an ephemeral post (on mobile).

![preview](https://github.com/svelle/mattermost-spoiler-plugin/raw/master/preview.png)

#### Review commit

https://github.co

[2022-04-26 23:00] svelle commented on #275
I still need to cut the 1.0 release for this, there's virtually no code changes to 0.1.0 that's currently in the releases page aside from some cosmetic changes in the `plugin.json` file.

[2022-05-03 11:04] grubbins opened #276 "Add mattermost-plugin-pingboard to the marketplace"
#### Summary
Adds information from [Pingboard](https://pingboard.com/) to the user popover. See [README](https://github.com/imc-trading/mattermost-plugin-pingboard/blob/v1.0.0/README.md).

#### Review commit
https://github.com/imc-trading/mattermost-plugin-pingboard/releases/tag/v1.0.0

## Checklist

**Product requirements**

- [x] The plugin is published under an [Open Source license](https://ope

[2022-05-04 14:42] gfra54 commented on #177
Hello. Is the plugin still in the marketplace ? I can find it on the website (https://mattermost.com/marketplace/default-theme-plugin/) but I cant find it in the marketplace search engine inside the mattermost app :

![image](https://user-images.githubusercontent.com/1954396/166705839-4b378630-8ee7-48ce-91e2-68779dbe4935.png)

Is there something else to do ?

Thanks

[2022-05-06 17:43] #274 closed

[2022-05-26 21:51] MatthewDorner opened #284 "Add mattermost-plugin-chess to Marketplace"
#### Summary
The plugin allows users to play games of Chess using `chess.js` and `cm-chessboard`. I built it a few years ago and someone requested to have it added to Marketplace, so I'm submitting it although it may require changes.

The main potential issue is that a while ago, I started having problems with `mattermost-redux`. With `v5.33.1` and other recent versions via npm, the `createPost` a

[2022-05-26 21:55] MatthewDorner commented on #284
I'm at `@matthewdorner` on the community server.

[2022-06-19 03:12] kaakaa opened #298 "Update Matterpoll to 1.5.0"
#### Summary

- fix: Allow empty string as third option in modal (https://github.com/matterpoll/matterpoll/pull/362)
- feat: Add Russian localization (https://github.com/matterpoll/matterpoll/pull/364)
- feat: Add "reset vote" button for a poll with single vote setting (https://github.com/matterpoll/matterpoll/pull/382)
- feat: Set color to buttons used for poll operations (https://github.com/matt

[2022-06-21 22:17] ftonato opened #299 "Add mattermost-plugin-gender-inclusive-language 🏳️‍🌈 to the marketplace"
#### Summary
<h1 align="center">

  <img src="https://user-images.githubusercontent.com/5417662/174878568-ecd013cc-c587-4966-9949-930814640864.png" alt="Mattermost Gender Inclusive Language Plugin Logo" width="350">
<br/>
  Mattermost Gender Inclusive Language Plugin
</h1>

The gender-inclusive-language is a Mattermost Plugin which actively listens (and prohibits) for language with racist, ableist

[2022-06-21 22:18] ftonato commented on #299
I'm at @ftonato on the community server.

[2022-06-29 21:47] nderambure commented on #298
Thx for this, hope it will be validated for marketplace soon !

[2022-07-06 18:31] #162 closed

[2022-07-12 10:13] mkdbns opened #304 "Add Mattermost Plugin Outlook Presence to the Marketplace"
#### Summary
This plugin is used for getting status updates for users. It adds an additional websocket endpoint to the Mattermost server which can be connected to without an active user's valid token. It also exposes a new paginated API to get the statuses of all users along with their emails. The purpose of this plugin is to provide status updates to Microsoft Outlook through the use of an interm

[2022-08-08 16:22] nderambure commented on #298
Hello, any update on this ? thx !

[2022-09-14 23:39] mkdbns opened #311 "Add Mattermost Azure DevOps Plugin to Marketplace"
#### Summary
This plugin integrates the services of Azure DevOps Boards in Mattermost.

#### Review commit
https://github.com/Brightscout/mattermost-plugin-azure-devops
https://github.com/Brightscout/mattermost-plugin-azure-devops/releases/tag/v1.0.1

## Checklist

**Product requirements**

- [X] The plugin is published under an [Open Source license](https://opensource.org/licenses/alphabetical).

[2022-09-14 23:43] mkdbns opened #312 "Add Mattermost ServiceNow Virtual Agent Plugin to Marketplace"
#### Summary
This plugin integrates the ServiceNow Virtual Agent in Mattermost. It supports sending text messages to the Virtual Agent through Mattermost and handling/displaying different types of responses from the Virtual Agent.

#### Review commit
https://github.com/Brightscout/mattermost-plugin-servicenow-virtual-agent
https://github.com/Brightscout/mattermost-plugin-servicenow-virtual-agent/r

[2022-09-29 17:15] alexgleason commented on #177
This option should be built into Mattermost and not require a separate plugin. You can customize less important things through the dashboard already.

[2022-10-02 14:01] jmk-198xtsuga commented on #127
If this issue is still on the to-do list, I'd like to help out!

[2022-10-02 15:52] mickmister commented on #127
Sure it's all yours! Thanks @jmk-198xtsuga!!

[2022-10-07 15:42] moussetc commented on #236
Hello there! Any news on this plugin update? :)

[2022-10-07 15:45] moussetc commented on #236
A new 2.1.2 version of the plugin has been released in the 11 months since opening this update issue, any chance to have it be integrated in the marketplace?

[2022-10-07 18:50] hanzei commented on #236
Hi @moussetc,

First of all: Sorry this takes so long. A simple update to a plugin should not take a year to get the Marketplace.

I've reached out to the QA testers again and asked them to put the plugin on top of there review queue.

[2022-10-07 18:52] hanzei commented on #236
On a more general note: The review process for plugin takes to long. We are working on identifying potential way to speed up the process without reducing the quality of reviews. @asatkinson and I are working on this effort. We will keep you updated.

[2022-10-07 18:57] hanzei commented on #114
Closing this for now as https://github.com/standup-raven/standup-raven seems to be abandoned. @harshilsharma2 Please let me know if you or other want to pick with up again.

[2022-10-07 18:57] #114 closed

[2022-10-07 19:02] moussetc commented on #236
Thank you for the update. I understand that the process can take a long time, but more than 4 months is not really workable let alone a year.

For example, since i opened this issue  there was a change in a dépendance API (Tenor) that broke the plugin for all people that use this gif provider, so I had to push another release quickly. I have not even tried to open an issue on the marketplace to in

[2022-10-10 17:10] jmk-198xtsuga commented on #127
Research notes:
- marketplace is building with the [Google Go-GitHub v28](https://pkg.go.dev/github.com/google/go-github/v28/github) package ([source on GitHub](https://github.com/google/go-github)) as an API client, which interacts with the [Github v3 API](https://docs.github.com/en/rest/overview/endpoints-available-for-github-apps).
- The mattermost-marketplace command line generator invokes the

[2022-10-12 16:25] mickmister commented on #127
In order to mock these methods out in unit tests, we can create an interface that implements these methods, and use [gomock](https://github.com/golang/mock) to implement mock versions of these methods.

- Example interface to be mocked - https://github.com/mattermost/mattermost-plugin-apps/blob/78beae6cedca6de6e91fb196434f754b9964de2c/server/mmclient/client.go#L9
- Using `gomock`'s CLI tool to gen

[2022-10-13 01:43] jmk-198xtsuga commented on #127
Thanks @mickmister for the links!  That will help quite a bit, I was still digging through how the whole `gomock` system works, and these links alone make a solid jump forward in that understanding.

I haven't checked things in (even on [my own fork](https://github.com/jmk-198xtsuga/mattermost-marketplace) of the repo) because I'm still exploring the best way to go about the mocks and unit tests,

[2022-10-16 18:04] jmk-198xtsuga commented on #127
Yes, finally getting more time to dig into it, and for the original question of how to get the original `Repository` or `RepositoryRelease` elements to check that cmd > generator > main.go functions are correctly unpacking the results from the github client:
- `getReleases()`
- `getReleasePlugins()`

Since `github.Client` is not an interface, the easiest way around that is to do the `httptest` wor

[2022-10-17 00:25] jmk-198xtsuga commented on #127
Now that I've dug into the interface pattern for gomock, and looked back at the cmd > generator files, in fact `generatorCmd` also does not have interfaces.  I'll check in on the integrations channel when I have time to chat, and figure out if an interface is the best solution here.

Also disclaimer, I'm not natively a Go programmer (I prefer the C family, and can do java, javascript, etc), so I m

[2022-10-20 03:29] jmk-198xtsuga commented on #127
Alright, now at least for the manual mock approach (ignoring automatic mock generation by `gomock`), I'm comfortable saying I've met my 4 goals before actually pointing tests at `generatorCmd` and `add`:
- I've got enough understanding of the Go language to effectively write the tests and data structures I need
- I've been able to make mocks for the _external_ items, particularly the data objects

[2022-10-20 07:24] mickmister commented on #127
@jmk-198xtsuga Feel free to submit a draft PR if you want early feedback on your work :+1:

[2022-10-30 02:51] jmk-198xtsuga commented on #127
@mickmister Thanks for the offer!  I'm still a fair distance away from having a "thorough" test, or even filling out tests for the different functions in [cmd/generator/main.go](https://github.com/mattermost/mattermost-marketplace/blob/master/cmd/generator/main.go), but I'll go ahead and open a PR to showcase where I'm at so far.

I'm not finding much free time to make progress on things, so if yo

[2022-10-31 20:56] hanzei opened #316 "Add mattermost-plugin-alertmanager to Marketplace"
#### Summary
A plugin for the Prometheus Alertmanager. It can
- Receive the Alerts via webhook
- Can list existing alerts
- Can list existing silences
- Can expire a silence

See https://github.com/cpanato/mattermost-plugin-alertmanager#alertmanager-plugin for more details

#### Review commit
https://github.com/cpanato/mattermost-plugin-alertmanager/releases/tag/v0.3.0

## Checklist
**Product requ

[2022-10-31 21:13] hanzei commented on #316
The checklist below will be used to track the process of getting your plugin to the Marketplace. It's sole purpose is visibility.

## Process checklist
- [ ] Create a private fork under the Mattermost organization; `master` should only contain a `README.md`.
- [ ] Give submitter read access to the fork.
- [ ] Create PR to merge upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin relea

[2022-11-03 08:42] #177 closed

[2022-11-17 05:51] Eleferen commented on #298
Hello. When can we expect an update?

[2022-11-17 23:16] nderambure commented on #298
It's been 6 months now and no response from Mattermost dev...
Is there any problem with this extension ?

[2022-11-18 06:27] srkgupta opened #319 "DependencyTrack Plugin"
#### Summary
This plugin allows you to perform following actions on Mattermost:

- Receive different notifications like NEW_VULNERABILITY, NEW_VULNERABLE_DEPENDENCY, BOM_PROCESSED from the DependencyTrack tool.
- Receive more context information for the notifications helping you analyze the alerts without having the need to visit the DependencyTrack tool.
- Analyze the different alerts and mark th

[2022-11-18 06:30] srkgupta commented on #319
Hi @hanzei

I had to re-initiate this request [as per the comment from @mickmister](https://github.com/mattermost/mattermost-plugin-dependency-track/pull/1#issuecomment-1319110433). Can you please create a new PR.

[2022-11-18 06:36] srkgupta opened #320 "Add v1.0.0 of mattermost-plugin-hackerone to the Marketplace"
#### Summary
This plugin allows users to subscribe to Hackerone notifications, stay up-to-date with all the reports submitted on the Hackerone platform, and other common Hackerone actions - directly from Mattermost.

![Screenshot](https://github.com/mattermost/mattermost-plugin-hackerone/raw/master/assets/screenshots/activity.png)
![Screenshot](https://github.com/mattermost/mattermost-plugin-hacke

[2022-11-18 06:38] srkgupta commented on #320
Apologies. Didnt realize we already had another open issue for this. I was wrongly searching in PRs and could not find one and hence had opened this.

Closing this as a duplicate of https://github.com/mattermost/mattermost-marketplace/issues/239

[2022-11-18 06:38] #320 closed

[2022-11-18 06:40] srkgupta commented on #319
Apologies. Didnt realize we already had another open issue for this. I was wrongly searching in PRs and could not find one and hence had opened this.

Closing this as a duplicate of https://github.com/mattermost/mattermost-marketplace/issues/247

[2022-11-18 06:40] #319 closed

[2022-11-18 06:42] srkgupta commented on #247
Hi @hanzei

Can you please create a new PR like [this](https://github.com/mattermost/mattermost-plugin-dependency-track/pull/1). I had to close the existing one because of the [comment from @mickmister](https://github.com/mattermost/mattermost-plugin-dependency-track/pull/1#issuecomment-1319110433). Apologies for the confusion and the extra work.

[2022-11-18 06:44] srkgupta commented on #239
Hi @hanzei
Following up here on the next steps as the plugin has already been enabled on the Community. Can we please proceed with the rest of the process and enable this on Marketplace, as it might be useful to our customers using Hackerone platform. Thanks.

[2022-11-22 08:23] hanzei commented on #298
## Process checklist
- [ ] Create PR to merge changes from upstream into `master`.
- [ ] Request reviews.
- [ ] [Cut plugin release](https://developers.mattermost.com/internal/plugin-release-process).
- [ ] Add release to Marketplace.

[2022-11-22 08:51] hanzei commented on #298
Hey everyone,

I've just recently returned to my Marketplace work and I'm still catching up on reviews. The reviews process for this plugin update has been kicked off and reviews are scheduled.